<section class="slider__section">
  <h2 class="title visually-hidden">Movie Slider</h2>
    <div class="container">
     <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides"
            style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 1435.5px; transform: translate3d(-638px, 0px, 0px);">
            
          </ul>
      </div>

        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>

    </div>
  </section>
  <script src='./js/components/slider.js'></script>